<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645983196968-jn35ak84qd77g5gbhlset09cq0121hmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645983196968-jn35ak84qd77g5gbhlset09cq0121hmv</string>
	<key>API_KEY</key>
	<string>AIzaSyDMgQ-_Rc7mR-HwUUWxhobbhIoAyiNgedw</string>
	<key>GCM_SENDER_ID</key>
	<string>645983196968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.three14.notez</string>
	<key>PROJECT_ID</key>
	<string>notez-515ba</string>
	<key>STORAGE_BUCKET</key>
	<string>notez-515ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645983196968:ios:8b080d286cc2170d</string>
	<key>DATABASE_URL</key>
	<string>https://notez-515ba.firebaseio.com</string>
</dict>
</plist>